.gitattributes export-ignore
README.md export-ignore
composer.* export-ignore
package.json export-ignore
package-lock.json export-ignore
assets/src export-ignore
.github export-ignore
phpcs.* export-ignore
bin export-ignore
.husky export-ignore
tests export-ignore
lint-staged.config.js export-ignore
.eslintignore export-ignore
.eslintrc export-ignore
.gitignore export-ignore
.prettierignore export-ignore
.prettierrc export-ignore
.stylelintrc.json export-ignore
phpunit.xml.dist export-ignore
webpack.config.js export-ignore
