<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>WooCommerce Subscriptions dev PHP_CodeSniffer ruleset.</description>

	<!-- Basic config -->
	<config name="minimum_supported_wp_version" value="5.0" />
	<arg value="psv"/>

	<!-- Config. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="woocommerce-subscriptions" />
		</properties>
	</rule>

    <rule ref="dev/coding-standards/prospress-coding-standard.xml">
        <exclude name="WordPress.PHP.YodaConditions.NotYoda" />
	</rule>

	<!-- Files to check -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<exclude-pattern type="relative">node_modules/*</exclude-pattern>
	<exclude-pattern type="relative">vendor/*</exclude-pattern>
	<exclude-pattern type="relative">includes/libraries/*</exclude-pattern>
	<exclude-pattern type="relative">templates/*</exclude-pattern>
	<exclude-pattern type="relative">build/*</exclude-pattern>

	<!-- All the manual baseline exclusions -->
	 <rule ref="Generic.WhiteSpace.ScopeIndent.Incorrect">
        <exclude-pattern>includes/admin/meta-boxes/*</exclude-pattern>
     </rule>
     <rule ref="WordPress.Files.FileName.InvalidClassFileName">
        <exclude-pattern>includes/abstracts/abstract-*</exclude-pattern>
     </rule>
     <rule ref="Generic.PHP.NoSilencedErrors.Discouraged">
        <exclude-pattern>includes/upgrades/class-wc-subscriptions-upgrader.php</exclude-pattern>
     </rule>
	<rule ref="WordPress.WP.I18n.MissingArgDomain">
        <exclude-pattern>includes/class-wcs-my-account-payment-methods.php</exclude-pattern>
     </rule>
	<rule ref="WordPress.WP.I18n.NonSingularStringLiteralText">
        <exclude-pattern>includes/class-wcs-my-account-payment-methods.php</exclude-pattern>
     </rule>
</ruleset>
