<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>WooCommerce Subscriptions dev PHP_CodeSniffer ruleset.</description>

	<!-- Basic config -->
	<config name="minimum_supported_wp_version" value="5.0" />
<!--	<arg value="psv"/>-->

	<!-- Config. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="woocommerce-subscriptions" />
		</properties>
	</rule>

	<!-- Exclusions -->
	<rule ref="WooCommerce-Core">
		<exclude name="Squiz.Commenting" />
		<exclude name="Generic.Commenting" />
		<exclude name="Core.Commenting.CommentTags.AccessTag" />
		<exclude name="Core.Commenting.CommentTags.AuthorTag" />
		<exclude name="Core.Commenting.CommentTags.CategoryTag" />
		<exclude name="Core.Commenting.CommentTags.CopyrightTag" />
		<exclude name="Core.Commenting.CommentTags.LicenseTag" />
		<exclude name="WooCommerce.Commenting.CommentTags.CategoryTag" />
	</rule>

	<!-- Files to check -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<exclude-pattern type="relative">node_modules/*</exclude-pattern>
	<exclude-pattern type="relative">vendor/*</exclude-pattern>
	<exclude-pattern type="relative">includes/libraries/*</exclude-pattern>
	<exclude-pattern type="relative">templates/*</exclude-pattern>
	<exclude-pattern type="relative">build/*</exclude-pattern>
</ruleset>
